<div class="headerContainer">
    <header>
        <!--  
        <div class="header">
            <div>
                <img id="logo" src="../../../assets/LogoBleu.png" alt="le logo">
            </div>
            <div>
                <h1 class="header-title">IT Training</h1>
            </div>
            <div class="nav-button">
                <input class="general-input">
                <button class="go-button" mat-fab extended>GO</button>
            </div>
        </div>
        -->


        <mat-toolbar class="nav-buttons" >
            <!-- Logo -->
            <div>
                <img id="logo" src="../../../assets/newLogoNoir.png" alt="le logo">
            </div>
            <!-- Nom de l'entreprise -->
            <div>
                <h1 class="header-title">IT Training</h1>
            </div>
            <!-- Boutons de navigation -->
            <div class ="nav-buttons">
                
                <button class="nav-button" mat-raised-button routerLink="home">Accueil</button>
                <button class="nav-button"  mat-raised-button routerLink="catalogue">Catalogue de Formation</button>
                <button class="nav-button"  mat-raised-button routerLink="formations">Recherche</button>
                <button class="nav-button"  mat-raised-button routerLink="demande-formation-spe">Demande Personalisée</button> 

            </div>

        </mat-toolbar>


    </header>

</div>