<section class="formulaireTitle">
  <h2>Demande de Formation Personalisée  </h2>
</section>

<div class="formulaire-body">
  <!-- Formulaire container -->
  <div class="container">
    <!-- Formulaire title -->
    <h1 class="form__title">Votre Demande </h1>
    <div class="form__message form__message--error"></div>

    <!-- Formulaire à remplir -->
    <form class="form form--hidden" [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <!-- Nom -->
      <div class="form__input-group">
        <label class ="form__input-text" for="nom">Nom : </label>
        <div class="form__input-error-message"></div>
        <input
          type="text"
          class="form__input"
          id="nom"
          formControlName="nom"
          placeholder="Nom"
        />

        @if (submitted && form['nom'].invalid) {
          <span>
            @if (form['nom'].hasError('minlength')) {
               <span>
                * Nom doit contenir au minimum 2 caractères
              </span>
            }
            @if (!form['nom'].value) {
              <span>
                * Nom obligatoire
              </span>
             }
          </span>
         }
      </div>

      <!-- Prenom -->
      <div class="form__input-group">
        <label class ="form__input-text" for="prenom">Prenom : </label>
        <div class="form__input-error-message"></div>
        <input
          type="text"
          class="form__input" 
          id="prenom"
          formControlName="prenom"
          placeholder="Prenom"
        />
        @if (submitted && form['prenom'].invalid) {
          <span>
            @if (form['prenom'].hasError('minlength')) {
            <span>
              * Prénom doit contenir au minimum 2 caractères
            </span>
          }
            @if (!form['prenom'].value) {
            <span>
              * Prénom obligatoire
            </span>
          }
          </span>
        }

      </div>

      <!-- Type de Formation -->
      <div class="form__input-group">
        
        <label class ="form__input-text" for="typeFormation">Type de Formation : </label>
        <div class="form__input-error-message"></div>
        <!-- Inter-entreprise -->
        <div class="types_formations">
          
          <div>
            <input
            type="radio"
            class="form__input" 
            id="interEntreprise"
            formControlName="typeFormation"
            value="interEntreprise"
            name="typeFormation" />

            <label class ="form__input-text" for="interEntreprise">Inter-Entreprise</label>
          </div>
          
          <!-- Intra-entreprise -->
          <div>
            <input
            type="radio"
            class="form__input" 
            id="intraEntreprise"
            formControlName="typeFormation"
            value="intraEntreprise"
            
            name="typeFormation" />

            <label class ="form__input-text" for="intraEntreprise">Intra-Entreprise</label>
          </div>
          
          <!-- Autre -->
          <div>
            <input
            type="radio"
            class="form__input" 
            id="autre"
            formControlName="typeFormation"
            value="autre"
            
            name="typeFormation" />

            <label class ="form__input-text" for="autre">Autre</label>
          </div>

        </div>
        
        <!-- Boucle -->
        @if (submitted && form['typeFormation'].invalid) {
        <span>
          @if (!form['typeFormation'].value) {
          <span>
            * Champ obligatoire
          </span>
        }
        </span>
      }
      </div>

      <!-- Nom de l'Entreprise -->
      <div class="form__input-group">
        <label class ="form__input-text" for="entreprise">Nom de l'Entreprise : </label>
        <div class="form__input-error-message"></div>
        <input
          type="text"
          class="form__input" 
          id="entreprise"
          formControlName="entreprise"
          placeholder="Entreprise"
        />
        @if (submitted && form['entreprise'].invalid) {
        <span>
          @if (form['entreprise'].hasError('minlength')) {
          <span>
            * Entreprise doit contenir au minimum 2 caractères
          </span>
         }
          @if (!form['entreprise'].value) {
          <span>
            * Entreprise obligatoire
          </span>
         }
        </span>
       }
      </div>

      <!-- Email -->
      <div class="form__input-group">
        <label class ="form__input-text" for="email">Email : </label>
        <div class="form__input-error-message"></div>
        <input
          type="email"
          class="form__input" 
          id="email"
          formControlName="email"
          placeholder="Email"
        />
        @if (submitted && form['email'].invalid) {
        <span>
          @if (form['email'].hasError('email')) {
          <span>
            * Email invalide
          </span>
         }
          @if (!form['email'].value) {
          <span>
            * Email obligatoire
          </span>
         }
        </span>
      }
      </div>

      <!-- Téléphone -->
      <div class="form__input-group">
        <label class ="form__input-text" for="telephone">Telephone : </label>
        <div class="form__input-error-message"></div>
        <input
          type="tel"
          class="form__input" 
          id="telephone"
          formControlName="telephones"
          placeholder="Telephone"
        />
        
        @if (submitted && form['telephone'].invalid) {
          <span>
            @if (form['telephone'].hasError('telephone')) {
            <span>
              * Téléphone invalide
            </span>
           }
            @if (!form['telephone'].value) {
            <span>
              * Téléphone obligatoire
            </span>
           }
          </span>
        }

      </div>

      <!-- Demande de Formation Spécialisée -->
      <div class="form__input-group">
        <label class ="form__input-text" for="demande">Demande de Formation Spécialisée : </label>
        <div class="form__input-error-message"></div>
        <textarea
          class="form__input" 
          id="demande"
          formControlName="demande"
          placeholder="Demande"
          rows="8"
        >
        
        </textarea>
          
        
        @if (submitted && form['demande'].invalid) {
        <span>
          @if (form['demande'].hasError('minlength')) {
          <span>
            * La Demande doit contenir au minimum 2 caractères
          </span>
         }
          @if (!form['demande'].value) {
          <span>
            * Demande obligatoire
          </span>
         }
        </span>
       }

      </div>

      <!-- Bouton Submit -->

      <div>
        <button class="form__button" type="submit">Envoyer</button>
      </div>
    
    </form>
  </div>

  <!-- Cartes Contacts container -->
  <div class="container">
    <h1 class="form__title"> Contacts </h1>

    <!-- Carte 1 -->
    <div class="carte">
      <!--Texte  -->
      <div class="info">
        <h1>Dupont Claire</h1>
        <p class="role">Responsable de Formations</p>
        <p class="coord"><img src="../../../assets/appel-telephonique.png" alt="icone-tel" class="icones"/> +123456789</p>
        <p class="coord"><img src="../../../assets/email.png" alt="icone-email" class="icones"/> exemple&#64;email.com</p>
      </div>
      <!-- Photo -->
      <div class="photo">
        <img src="../../../assets/coordinateur-1.jpg" alt="Votre photo"/>
      </div>

    </div>

    <!-- Carte 2 -->
    <div class="carte">
      <!--Texte  -->
      <div class="info">
        <h1>Dupuis Pierre</h1>
        <p class="role">Responsable Pédagogique</p>
        <p class="coord"><img src="../../../assets/appel-telephonique.png" alt="icone-tel" class="icones"/> +123456789</p>
        <p class="coord"><img src="../../../assets/email.png" alt="icone-email" class="icones"/> exemple&#64;email.com</p>
      </div>
      <!-- Photo -->
      <div class="photo">
        <img src="../../../assets/coordinateur-2.jpg" alt="Votre photo"/>
      </div>

    </div>

    <!-- Carte 3 -->
    <div class="carte">
      <!--Texte  -->
      <div class="info">
        <h1>Desprez Amélie</h1>
        <p class ="role">Coordinateur de Formation</p>
        <p class="coord"><img src="../../../assets/appel-telephonique.png" alt="icone-tel" class="icones"/> +123456789</p>
        <p class="coord"><img src="../../../assets/email.png" alt="icone-email" class="icones"/> exemple&#64;email.com</p>
        
      </div>
      <!-- Photo -->
      <div class="photo">
        <img src="../../../assets/coordinateur-3.jpg" alt="Votre photo"/>
      </div>

    </div>

  </div>
</div>

<!-- Envoi Formulaire avec succès -->
<div class="popup" id="popup">
  <img src="../../../assets/tick.png" />
  <h1>Merci !</h1>
  <p>Votre demande a été envoyée avec succès !</p>
  <button type="button" (click)="closePopup()">OK</button>
</div>
    
