<section class="resultats">
    @for (formation of formations; track formation) {
        <div class="resultat">
            <div class="resultatTitre" routerLink="/detail-formation/{{formation.id}}">
                <p>{{ formation.nom }}</p>
                <p>{{ formation.prix }}</p>
            </div>
            <div class="resultatDetails">
                <p>
                    {{ formation.description }}
                </p>
                <br>
                <!--  
                <p><span class="bold">Thème : </span>{{ formation.theme }}</p>
                <p><span class="bold">Sous-thème : </span>{{ formation.sousTheme }}</p>
                -->
                <p><span class="bold">Durée : </span>{{ formation.duree }}</p>
                <p><span class="bold">Ville : </span>{{ formation.ville }}</p>
            </div>
            <button class="detailsButton" mat-raised-button routerLink="/detail-formation/{{formation.id}}">Voir détails</button>
        </div>
    }
</section>
