section.resultats {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section.resultats .resultat {
    background: var(--second-bg-color);
    background: linear-gradient(to right, var(--second-bg-color), var(--first-color));;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 10px var(--third-color);
}

section.resultats .resultat .resultatTitre {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    cursor: pointer;
    background-color: #FFFFFF60;
    border-radius: 5px;
    padding: 0.5rem;
}
section.resultats .resultat .resultatTitre p {
    font-size: 1.5rem;
    line-height: normal;
}

section.resultats .resultat p {
    margin: 0;
}

section.resultats .resultat .resultatDetails {
    padding: 1rem;
}

/* Button options */
.detailsButton {
    width: fit-content;
    align-self: center;
    background: var(--first-color);
}
.detailsButton:hover {
    background: var(--third-color);
    transition: all .5s;
}
.detailsButton:active {
    transform: scale(0.98);
}

span.bold {
    font-weight: bold;
}