/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Montserrat";
    src:
      url("assets/Montserrat-Regular.ttf");
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --first-color: rgb(17, 157, 164);
    --second-color: #0C7489;
    --third-color: #13505B;
    --main-bg-color: #040404;
    --second-bg-color: #eef0e2;
    --color-error: #ff0000;
    --color-success: #4bb544;
    --border-radius: 4px;

    font-family: "Montserrat",Roboto, "Helvetica Neue", sans-serif;
    color: var(--main-bg-color);
}
a {
    text-decoration: none;
}
/*================================================================ SCROLLBAR =====================================================================*/
::-webkit-scrollbar {
    width: 8px;    
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--second-bg-color); 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--first-color); 
    border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--second-color); 
}
/*============================================================== FIN SCROLLBAR =====================================================================================*/ 
 
input[type='radio']:checked {
    accent-color: var(--first-color);
}

html, body { 
    
    scroll-behavior: smooth;
}


.container{
    
    background-color: var(--second-bg-color);
    max-width: 900px;
    width:100%;
    border-radius: 6px;
    padding:30px;
    margin:0 15 px;
    box-shadow: 0 5px 10px var(--third-color);

}

.general-input{
    box-sizing: border-box;
    width: 200px;
    height: 35px;
    margin-right:10px;
    

}

.go-button{
    margin-right:1rem;  
    box-sizing: border-box;
    max-width: 20px;
    max-height: 40px;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
