<main>
    <section class="heroSection">
        <div class="flou">
            <section class="titres">
                <p class="grandTitre">{{formation.nom}}</p>
                <div class="fondPresITT">
                    <p class="presentationITT">{{formation.description}}</p>
                </div>
            </section>
        </div>
    </section>
    <section class="carteSection" #carteSection>
        <div class="contourCarte">
            <img src="../../../assets/fond-bureau.jpg" alt="fond-bureau">
            <img src="../../../assets/photo-formation-details2.avif" alt="details2">
        </div>
        <div class="descCarte">
            <h3 class="carteTitre">Détails de la Formation</h3>
            <p>{{formation.detail}}</p>
            <div class="ses-lieu">
        
                <section class="sessions">
                    <p class="carteTitre">Sessions : </p>
        
                    @for (session of sessions; track session) {
                        <p>Du {{session.dateStartSession}} au {{session.dateEndSession}}</p>
                    }
        
                </section>
        
                <section class="lieu">
                    <p class="carteTitre">Lieu de la Formation : </p>
        
                    <p>{{formation.ville}}</p>
        
                </section>
        
            </div>

            <button class="carteButton" mat-raised-button>Tests de prérequis</button>
            <button class="carteButton" mat-raised-button>Inscrivez vous</button>
        </div>
    </section>
</main>

