<footer id="footer">
    <div class="footer_left">
        <div>
            <p>Qualité et certifications</p>
            <img src="../../../assets/certifications-ib.jpg" alt="certifications">
        </div>
        <p>&copy; 2024 IT Training</p>
    </div>
    <div class="footer_right">
        <div class="footer_column">
            <p class="titre_column">Nos offres</p>
            <p>Interentreprise</p>
            <p>Intra-entreprise / Sur-mesure</p>
            <p>Formations certifiantes</p>
        </div>
        <div class="footer_column">
            <p class="titre_column">À propos d'IT Training</p>
            <p>Nos centres de formation</p>
            <p>Recrutement</p>
            <p>Le Groupe</p>
        </div>
        <div class="footer_column">
            <p class="titre_column">Aides</p>
            <p>FAQ</p>
            <p>Contactez-nous</p>
            <p>Bulletin d'inscription</p>
        </div>
    </div>
</footer>