footer {
    height: 300px;
    background-color: var(--main-bg-color);
    color: var(--second-bg-color);
    padding: 5rem;
    display: flex;
    justify-content: space-around;
}

footer div {
    padding-bottom: 1rem;
}

footer div p {
    padding-bottom: 1rem;
}

footer .footer_right {
    display: flex;
    gap: 3rem;
}

footer .footer_right .titre_column {
    font-weight: bold;
}