<section class="baniere">
  <div class="flou">
    <div class="titres">
      <H4 id="titre2">A ce jour,nous vous proposons plus de 800 formations </H4>
    </div>

    <nav class="dropdownmenu">
      <ul>
        <li>
          <a>Resouces humaines</a>
          <ul class="submenu" id="submenu1">
            <li><a (click)="allerVersElement(humain)">Pratiques des ressources humaines</a></li>
            <li><a>Initier une démarche RSE à la RH</a></li>
            <li><a>Posture et savoir RH</a></li>
            <li><a>Rémunération et pilotage RH</a></li>
          </ul>
        </li>
        <li>
          <a>Management</a>
          <ul class="submenu" id="submenu2">
            <li><a (click)="allerVersElement(man)" >Management</a></li>
            <li><a  (click)="allerVersElement(gest)">Gestion de projet</a></li>
            <li><a>Systèmes d'information</a></li>
            <li><a>Chef de projet Informatique</a></li>
          </ul>
        </li>
        <li>
          <a>Finances</a>
          <ul class="submenu" id="submenu3">
            <li><a>Analyste financier</a></li>
            <li><a>Conseiller financier</a></li>
            <li><a>Ficalité</a></li>
            <li><a>Controleur Financier</a></li>
          </ul>
        </li>
        <li>
          <a>Informatiques</a>
          <ul class="submenu" id="submenu4">
            <li>
              <a (click)="allerVersElement(language)">Langages Informatiques</a>
            </li>
            <li><a>Administration serveur</a></li>
            <li><a>Système d'exploitation </a></li>
            <li><a>Outils collaboratifs</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <article class="formules">
      <div class="financer">
      <h3><img src="../../../assets/fianancerformation.png" alt=""> <a>Financer ma formation</a></h3>
    </div>
      <div class="formule1">
        <span> 3 formules :</span> 
    
        
      </div>

      <div class="parent">
        <div class="box1">
          <h3>Intra-entreprise</h3>
          <p>
            C'est une action de formation pour une seule entreprise et pour un
            ou plusieurs de vos collaborateurs. Vous choisissez le lieu et la
            date à votre convenance. <br />
            <br />
          </p>
        </div>
        <div class="box2">
          <h3>Inter-entreprise</h3>
          <p>
            C'est une action de formation qui regroupe des salariés de diverses
            entreprises dans une même session. Le lieu et les dates sont
            imposées.
            <br />
            <br />
          </p>
        </div>
        <div class="box3">
          <h3>Demande Individuelle</h3>

          <p>
            C'est une action de formation que nous réalisons de façon
            Personalisée. Nous pouvons adapter les dates, les horaires et le
            rythme à vos besoins. <br />
            <br />
          </p>
        </div>
      </div>
    </article>
  </div>
</section>
<section class="bandeau" #language>
 <!-- <h2>Catalogue</h2>-->

</section>
<div class="developpement" >
  <h2>Langages Informatiques</h2>
  <h3>Java</h3>
  <ul class="JAVA">
    <li>Formation - Développement Java avancé et accès aux données</li>
    <li>Les fondamentaux de la programmation Java</li>
    <li>Conception d'interface graphiques full stack avec Angular</li>
    <li>Java EE-Developper des applications d'entreprises</li>
  </ul>
  <h3>Html,Css</h3>
  <ul class="html">
    <li>
      Certification Developpement des sites web avec le language de balises HTML
      et des feuilles de styles CSS
    </li>
    <li>
      Les fondamentaux du developpement d'interfaces graphiques avec HTML,CSS3
      et JavaScript
    </li>
    <li>HTML,CSS3,Responsive-Creation de page web</li>
    <li>HTML Initiation</li>
  </ul>
  <H3>Angular</H3>
  <ul class="angular">
    <li>Angular2+ -Developpement d'applications web</li>
    <li>
      Developper une application Java full stack avec les frameworks Spring,JPA/
      Hibernate
    </li>
    <li>Angular Js - Developpement Web</li>
  </ul>
</div>

<div class="management" #man>
  <H2>Managements </H2>
  <h3>Management</h3>
 <ul class="manager">
    <li>Cohésion d'équipe</li>
    <li>Gestion de conflits</li>
    <li>Gestion du stress</li>
    <li>Style de Leadership</li>
  </ul>


</div>

<div class="gestions" #gest>
  <H2>Gestion de projet </H2>
  <ul class="gestion">
    <li>Les fondamentaux de la gestion de projet </li>
    <li>Conduite de changement </li>
    <li>Gestion du stress</li>
    <li>Microsoft Project</li>
  </ul>


</div>

<div class="humaines" #humain>
  <H2>Pratiques des ressources humaines  </H2>
  <ul class="humaine">
    <li>Gestion administrative des RH </li>
    <li>Recrutement</li>
    <li>Gestion des compétences et carrières </li>
    <li>Formation professionnelle</li>
  </ul>


</div>
